---
ColumnLimit: 0
IndentWidth: 2
ContinuationIndentWidth: 4
IndentWrappedFunctionNames: false
MaxEmptyLinesToKeep: 2
NamespaceIndentation: All
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
Standard: c++20
UseTab: Never
AllowShortIfStatementsOnASingleLine: Always
AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: true
IndentPPDirectives: BeforeHash
PointerAlignment: Left
BinPackArguments: true
BinPackParameters: true
AccessModifierOffset: -2
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeInheritanceComma: true
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
FixNamespaceComments: true
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
ConstructorInitializerIndentWidth: 4
BreakBeforeBraces: Attach
SortIncludes: false
IndentCaseLabels: true
Cpp11BracedListStyle: false